# ===========================================
# carsharing-vehicle-manual-service - Stage CI/CD
# ===========================================

name: cicd-stg

on:
  workflow_dispatch:
    inputs:
      jira-ticket:
        description: |
          "배포 시 CR 티켓을 입력해주세요. 만약 CR 티켓이 여러 개라면 '_' 로 연결하여 작성부탁드립니다."
          "EX) 티켓이 하나일 경우 : SD-XX , 티켓이 두개 이상일 경우 : SD-XX_SD-YY_SD-ZZ"
        required: true
        default: "SD-XX"

env:
  ACTION_REPO: "socar-inc/socar-actions"
  ACTION_REF: "v2.0"
  IMG_REPO: "carsharing-vehicle-manual-service"

jobs:
  ci:
    runs-on: ubuntu-20.04
    outputs:
      image-tag: ${{ steps.set-tag.outputs.image-tag }}
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2

      - name: Set image tag from git tag
        id: set-tag
        run: |
          TAG_NAME=${GITHUB_REF#refs/tags/}
          echo "image-tag=${TAG_NAME}" >> $GITHUB_OUTPUT

      - name: Checkout custom action repo
        uses: actions/checkout@v2
        with:
          repository: ${{ env.ACTION_REPO }}
          ref: ${{ env.ACTION_REF }}
          token: ${{ secrets.SOCAR_TECH_GITHUB_TOKEN }}
          path: ./.github/actions

      - name: Run actions/ci - ${{ env.IMG_REPO }}
        uses: ./.github/actions/ci
        with:
          img-registry: ${{ secrets.STG_ECR_REGISTRY }}
          img-repo: ${{ env.IMG_REPO }}
          img-tag: ${{ steps.set-tag.outputs.image-tag }}
          aws-access-key-id: ${{ secrets.STG_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.STG_AWS_SECRET_ACCESS_KEY }}

  cd:
    runs-on: ubuntu-20.04
    needs: [ci]
    steps:
      - name: Checkout custom action repo
        uses: actions/checkout@v2
        with:
          repository: ${{ env.ACTION_REPO }}
          ref: ${{ env.ACTION_REF }}
          token: ${{ secrets.SOCAR_TECH_GITHUB_TOKEN }}
          path: ./.github/actions

      - name: Run actions/cd - ${{ env.IMG_REPO }}
        uses: ./.github/actions/cd
        with:
          img-repo: ${{ env.IMG_REPO }}
          img-tag: ${{ needs.ci.outputs.image-tag }}
          argocd-server: ${{ secrets.STG_ARGOCD_SERVER }}
          argocd-app: ${{ env.IMG_REPO }}-stg
          argocd-token: ${{ secrets.STG_ARGOCD_TOKEN }}
          jira-ticket: '${{ github.event.inputs.jira-ticket }}'
